<html>
    <head>
        <title> aiudasiudasid</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <style>
            p {
              color:red;  
            }

            #stcet-h2 {
                background-color: aqua;
            }
            
            .stcet-class {
                background-color: brown;
                color: blanchedalmond;
            }

        </style>
    </head>
    <body>
        <h1> HELLO STCET</h1>
        <h2 id="stcet-h2"> HELLO STCET</h2>
        <h3> HELLO STCET</h3>
        <h4> HELLO STCET</h4>
        <h5> HELLO STCET</h5>
        <h6 class="stcet-class"> HELLO STCET</h6>

        <p style="color:green;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

        <img src="https://picsum.photos/200/300" alt="PICSUM RANDOM IMAGE">
        <br/>
        <br/>
        <br/>
        <br/>
        <a class="stcet-class" title="STCET WEB" href="https://stcet.ac.in/" target="_blank">Click to open</a>


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3685.0765375153164!2d88.32667031458156!3d22.53880548520025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02775de26c3dfd%3A0xd7255ce261457bec!2sSt.%20Thomas&#39;%20College%20of%20Engineering%20and%20Technology!5e0!3m2!1sen!2sin!4v1678439179808!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Sl no</td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Harry Potter</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ron Weasley</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hermoine Granger</td>
                </tr>
            </tbody>
        </table>

        <form>
            <input class="form-control" type="text" placeholder="Enter Name">
            <input type="password" placeholder="Enter Password">
            <input type="number" min="0" placeholder="Enter Number">
            <select>
                <option>Ron</option>
                <option>Harry</option>
                <option>Hermoine    </option>
            </select>
            <input type="checkbox" value="hey">
            <textarea>

            </textarea>
        </form>

    </body>
</html>